#video-grid{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-gap: 10px;
justify-content: center;
 }
 video{
width: 300px;
height: 300px;
display: block;
object-fit: cover;
 }

.myVideo{
position:absolute; 
bottom:0;
right:0;
margin:10px;
 }



 .main {
height: 100vh;
display: flex;
}

.main__left {
flex: 0.8;
display: flex;
flex-direction: column;
}

.main__right {
flex: 0.2;
display:flex;
}

.main__videos {
flex-grow: 1;
background-color: black;
display: flex;
justify-content: center;
align-items: center;
padding: 40px;
}

.main__controls {
background-color: #1C1E20;
}

.main__right {
background-color: #242324;
border-left: 1px solid #3D3D42;
width: "100%";
}

.main__controls {
color: #D2D2D2;
display: flex;
justify-content: space-between;
padding: 5px;
}

.main__controls__block {
display: flex;
}

.main__controls__button {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 10px;
min-width: 80px;
cursor: pointer;
}

.main__controls__button:hover {
background-color: #343434;
border-radius: 5px;
}

.main__controls__button i {
font-size: 24px;
}

.main__right {
display: flex;
flex-direction: column;
}

.main__header {
padding-top: 5px;
color: #F5F5F5;
text-align: center;
}

.main__chat_window {
  display: flex;
  overflow-y: auto;
  flex-grow: 1;
  flex-direction: column;
}

.messages{
color: white;
list-style: none;
}

.main__message_container {
padding: 22px 12px;
display: flex;
}

.main__message_container input {
flex-grow: 1;
background-color: transparent;
border: none;
color: #F5F5F5;
}

.leave_meeting {
color: #EB534B;
}

.unmute, .stop {
color: #CC3B33;
}

.outerContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-color: #1A1A1D;
 }

 .meeting_info{
   text-align: center;
   font-weight: bold;
   color: white;
   letter-spacing: 2px;
 }
 
 .container {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background: #FFFFFF;
   border-radius: 8px;
   height: 60%;
   width: 35%;
 }
 
 @media (min-width: 320px) and (max-width: 480px) {
   .outerContainer {
     height: 100%;
   }
 
   .container {
     width: 100%;
     height: 100%;
   }
 }

 
 @media (min-width: 480px) and (max-width: 1200px) {
   .container {
     width: 60%;
   }
 }